# Build outputs
bin/
obj/
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS/VS Code
.vs/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
vscode-fscript/node_modules/

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
.nuget/
packages/

# Test results
TestResults/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
.out

vscode-fscript/dist/
vscode-fscript/*.vsix
